body{
	margin: 0;
	padding: 0;
}
.container-all{
	margin-right: 10vmin;
	margin-left: 10vmin;
	font-size: 1em;
	font-family: Helvetica, Verdana, sans-serif;
	text-align: justify;
}
h2{
}
p{
	font-size: 18px;
	margin-right: 10%;
}
ul{
	background-color: #E1E1E1;
}
li{
	list-style-type: none;
	background-color: #C2C2C2;
	font-family: Courier, Consolas, sans-serif;
	text-indent: 1em;
	letter-spacing: 0px;
	word-spacing: 1px;
}
